
.bodyMadrid{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../../../img/madrid.jpeg");
}

.bodyBarcelona{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../../../img/barcelona.jpg");
}

.bodyMalaga{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../../../img/malaga.jpg");
}

.cityImage{
    height: 600px;
    background-position:center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 5vh;
}

.lemaMadrid{
    margin: 0;
    font-size: 3rem;
    font-family:'Ephesis', cursive;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

@media(min-width: 361px) and (max-width: 768px){
    .bodyMadrid{
        height: 300px;
    }
    .lemaMadrid{
        font-size: 5rem;
    }
}

@media(min-width: 769px){
    .bodyMadrid{
        height: 600px;
    }
    .lemaMadrid{
        font-size: 12rem;

    }
}