.imperdiblesEspaña{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6vh;
}

.imperdiblesEspaña a{
    width: 40%;
    margin: 2vh 3vw;
    text-decoration: none;
}

.divImgImperdible{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 18vw;
    height: 25rem;
    position: relative;
}

.divImgImperdible p{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imperdibles p{
    margin: 0;
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.longName{
    line-height: 1.5rem;
}

.imperdiblesTitulo{
    color: rgb(173,21,25);
    text-align: center;
    font-size: 48px;
    padding-top: 1rem;
}

.imposible{
    text-align: center;
    font-size: 24px;
    margin-bottom: 1vh;
}

@media(min-width: 361px) and (max-width: 768px){
    .imperdiblesEspaña a{
        width: 25%;
    }
}

@media(min-width: 769px){
    .imperdiblesTitulo{
        font-size: 3rem;
    }
    .subtitle1{
        font-size: 1.8rem;
    }
    .imperdiblesEspaña a{
        width: 18%;
    }
    .imgImperdibles{
        overflow: hidden;
        transition: transform 1s ease-in-out;
        height: 45vh;
    }
    .imperdibles p{
        line-height: 3rem;
    }
}


.boqueria-imp{
    background: url("../../img/Imperdibles/boqueria.jpg")
}

.alhambra-imp{
    background: url("../../img/Imperdibles/alhambra.jpg")
}

.ronda-imp{
    background: url("../../img/Imperdibles/ronda.jpg")
}

.prado-imp{
    background: url("../../img/museoDelPrado.jpg");
}

.santiago-imp{
    background: url("../../img/Imperdibles/caminoSantiago.jpg")
}

.toledo-imp{
    background: url("../../img/Imperdibles/toledo.jpg")
}

