.newsletter {
  background-color: #EAF0FC;
  border-top: rgba(206, 214, 219, 0.678) solid 1px;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 6rem;
}
.newsletter .titulo {
  color: #1A202C;
  margin: 0 0 2.5rem 0;
  font-size: 1.4rem;
  font-family: "Montserrat", serif;
}
.newsletter .formInfo {
  display: flex;
}
.newsletter .formInfo .formInput {
  display: flex;
  flex-direction: column;
}
.newsletter .formInfo .formInput input {
  margin-bottom: 4vh;
  margin-right: 4rem;
  border-radius: 5px;
  border: solid 1px rgb(167, 173, 177);
  line-height: 5vh;
  width: 40vw;
  font-family: "Montserrat", serif;
}
.newsletter .formInfo .formInput label {
  margin-bottom: 1vh;
  margin-right: 4rem;
  font-weight: 500;
  font-family: "Montserrat", serif;
}
.newsletter .formInfo .formInput .name {
  line-height: 1rem;
}
.newsletter .formInfo .formInput .mail {
  line-height: 1rem;
}
.newsletter .envioNewsletter {
  display: block;
  background-color: #1A202C;
  color: white;
  border: none;
  line-height: 2rem;
  margin: 0 2rem 0 auto;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  font-family: "Montserrat", serif;
}
.newsletter .envioNewsletter:hover {
  background-color: rgba(40, 77, 49, 0.6862745098);
}

.noNewsletter {
  display: none;
}

.suscripted {
  background-color: rgba(216, 225, 231, 0.904);
  border: rgba(206, 214, 219, 0.678) solid 1px;
  box-sizing: border-box;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(11, 4, 51);
}

.noSuscripted {
  display: none;
}