.newsletter{
    background-color: rgba(216, 225, 231, 0.904);
    border: rgba(206, 214, 219, 0.678) solid 1px;
    box-sizing: border-box;
    width: 100%;
    height: 40vh;
}

.noNewsletter{
    display: none;
}

.newsletter input{
    margin-bottom: 4vh;
    margin-left: 4vw;
    border-radius: 5px;
    border: solid 1px rgb(167, 173, 177);
    line-height: 5vh;
    width: 40vw;
}

.newsletter label{
    margin-bottom: 1vh;
    margin-left: 4vw;
}

.titulo{
    color: rgb(3,3,44);
    margin-left: 4vw;
}

.formInput{
    display: flex;
    flex-direction: column;
}

.formInput label{
    font-weight: 500;
}

.formInfo{
    display: flex;
}

.envioNewsletter{
    margin-left: 4vw;
    background-color: rgb(3,3,44);
    color: white;
    border: none;
    line-height: 4vh;
    margin-bottom: 4vh;
    border-radius: 5px;
    font-weight: 500;
    padding: 5px;
}


.suscripted{
    background-color: rgba(216, 225, 231, 0.904);
    border: rgba(206, 214, 219, 0.678) solid 1px;
    box-sizing: border-box;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(11, 4, 51);
}

.noSuscripted{
    display: none;
}