.foodGlobal{
    margin-bottom: 10vh;
}

h1.que-comer-ciudad{
    text-align: center;
    color: rgb(173,21,25);
    padding-top: 8vh;
    margin: 0;
}

.adit-info{
    margin-bottom: 6vh;
    text-align: center;
}


.foodContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: auto;
}

.foodImage{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5vh;
}

.foodContainer div:nth-child(1){
    background: url("../../../../../img/Food/besugoMadrileña.jpg");
    background-position: center;
    background-size: cover;
}

.foodContainer div:nth-child(2){
    background: url("../../../../../img/Food/callosMadrileña.jpg");
    background-position: center;
    background-size: cover;
}

.foodContainer div:nth-child(3){
    background: url("../../../../../img/Food/bocadilloCalamares.jpg");
    background-position: center;
    background-size: cover;
}

.foodContainer div:nth-child(4){
    background: url("../../../../../img/Food/huevosEstrellados.jpg");
    background-position: center;
    background-size: cover;
}

.foodContainer div:nth-child(5){
    background: url("../../../../../img/Food/sopaAjo.jpg");
    background-position: center;
    background-size: cover;
}

.foodContainer div:nth-child(6){
    background: url("../../../../../img/Food/tortillaPatata.jpg");
    background-position: center;
    background-size: cover;
}

.foodContainer div:nth-child(7){
    background: url("../../../../../img/Food/patatasBravas.jpg");
    background-position: center;
    background-size: cover;
}

.foodContainer div:nth-child(8){
    background: url("../../../../../img/Food/caracolesMadrileña.jpg");
    background-position: center;
    background-size: cover;
}

.foodName{
    color: rgb(250, 189, 0);
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3% 0;
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.seeMore Button{
    font-weight: 700;
    color: rgb(173,21,25);
    background-color: transparent;
    border: none;
}

.seeMoreHidden{
    display: none;
}


@media(min-width: 361px) and (max-width: 768px){
    .foodImage{
        width: 280px;
        height: 184px;
    }
    .foodName{
        font-size: 14px;
    }
}

@media(min-width: 769px){
    .foodImage{
        width: 24vw;
        min-height: 32vh;
    }
    .foodName{
        font-size: 16px
    }
}