.weather{
    background-image: url("../../img/cielo.jpg");
    width: 90%;
    height: 250px;
    margin: auto;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 5%;
}

p.temperature, p.tempDesc{
    margin: 5px 0;
    font-size: 20px;
    text-align: center;
}
.temperature{
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tempDesc{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.weatherFirstContainer{
    padding: 2% 0 3% 0;
    width: 100%;
}


@media(min-width: 361px) and (max-width: 768px){
    p{
        font-size: 16px;
    }
    .weather{
        width: 70%;
    }
}

@media(min-width: 769px){
    p{
        font-size: 16px;
    }
    .weather{
        width: 50%;
    }
}


.weatherIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherIcon{
    width: 12vw;
    height: auto;
}

.weatherInfo{
    display: flex;
    justify-content: center;
}

.weatherInfoData{
    display: flex;
    justify-content: center;
}

.temperatureP{
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
}

.temperature-additional-info{
    text-align: center;
    margin-top: 5px;
}

.visual-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}