@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.accommodation-main-container{
    padding: 3.5rem 8rem 2rem 8rem;
    .accommodation-title{
        text-align: center;
    }
    .accommodation-filter-data{
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        .filters{
            border: solid 1px rgba(74, 160, 203, 0.515);
            border-radius: 5px;
            min-width: 15rem;
            margin-right: 2rem;
            height: fit-content;
            .filter-form-list{
                h3{
                    padding-left: 1rem;
                    margin-bottom: 0.1rem;
                }
                .filter-category{
                    padding: 1rem;
                    border-bottom: solid 1px rgba(74, 160, 203, 0.515);
                    .filter-text{
                        margin-bottom: 0.5rem;
                        display: block;
                        font-weight: 500;
                    }
                    .label-input-container{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .label-input-global{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            input[type='checkbox']{
                                background-color: transparent;
                                height: 1rem;
                                width: 1rem;
                                margin-right: 0.6rem;
                                border: solid 2px rgb(49, 108, 137);
                            }
                            label{
                                font-size: 0.9rem;
                                font-family: "Roboto", sans-serif;
                            }
                        }
                        .span-tickbox{
                            background-color: transparent;
                            height: 0.85rem;
                            width: 0.85rem;
                            margin: 0.1rem 0.5rem 0.1rem 0.2rem;
                            border: solid 1px rgb(49, 108, 137);
                            border-radius: 3px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg{
                                fill: transparent;
                                height: 0.75rem;
                                width: 0.75rem;
                                pointer-events: none;
                            }
                        }
                        .chosenTickbox{
                            background: rgb(49, 108, 137);
                            svg{
                                fill: #FFF;
                            }
                        }
                        .span-tickbox-text{
                            font-size: 0.9rem;
                        }
                        .span-quantity{
                            font-size: 1rem;
                            color: #000000d1;
                            font-family: "Roboto", sans-serif;
                        }
                    }
                }
                .last-filter{
                    border-bottom: none;
                }
            }
        }
        .available-accomodation{
            width: 100%;
            h4{
                font-size: 1.2rem;
            }
            .chips{
                margin-bottom: 2rem;
                display: flex;
                align-items: center;
                .chip{
                    padding: 0.3rem 1rem 0.4rem 1rem;
                    border: solid 2px rgba(74, 160, 203);
                    border-radius: 20px;
                    margin-left: 0.5rem;
                    // display: none;
                    justify-content: center;
                    align-items: center;
                    line-height: 1.5rem;
                    height: 1.5rem;
                    color: rgb(74, 160, 203);
                    vertical-align: middle;
                    &:hover{
                        cursor: pointer;
                    }
                    .icon{
                        margin-left: 0.5rem;
                        height: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 5px;
                        font-size: 1.1rem;
                        pointer-events: none;
                    }
                }
            }
            .accommodation-container{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding-bottom: 4rem;
                .accommodation-item{
                    text-decoration: none;
                    box-shadow: 1px 1px 1rem 0.1rem rgba(10, 10, 10, 0.242);
                    border-radius: 0 0 5px 5px;
                    width: 16rem!important;
                    margin: 0 0.5rem 4rem 0.5rem;
                    .hotel-image{
                        background-position: bottom;
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 16rem;
                        width: 16rem;
                    }
                    .accommodation-info{
                        display: flex;
                        flex-direction: column;
                        background-color: #FFF;
                        padding: 1rem;
                        border-radius: 0 0 5px 5px;
                        min-height: 118px;
                        .accommodation-city{
                            font-size: 12px;
                            color: rgb(173,21,25);
                        }
                        .accommodation-name{
                            font-size: 1.4rem;
                            color: black;
                        }
                        .accommodation-address{
                            color: black;
                            font-size: 0.8rem;
                        }
                        .accommodation-category{
                            color: goldenrod;
                        }
                    }
                }
            }
        }
    }
}

.dispNone{
    display: none;
}

.dispFlex{
    display: flex;
}
