@charset "UTF-8";
.masVisitadosGlobal {
  padding: 4rem 16rem;
}

.home .title {
  margin: 1rem 0 0 0;
  color: #1A202C;
  font-size: 1.4rem;
  font-family: "Montserrat", serif;
}

.subtitle1 {
  font-size: 1.1rem;
  margin-left: 0;
  margin-top: 0.6rem;
  font-family: "Montserrat", serif;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 6vh;
}
.cardContainer a {
  text-decoration: none;
  width: 100%;
  margin: 1rem 0;
}
.cardContainer a .cardImageText {
  text-align: center;
  color: black;
  overflow: hidden;
  box-shadow: 1px 1px 1rem 0.1rem rgba(10, 10, 10, 0.242);
  border-radius: 0 0 5px 5px;
}
.cardContainer a .cardImageText .imageCardHeight {
  height: 12rem;
}
.cardContainer a .cardImageText .city-name {
  background-color: #FFF;
  position: relative;
  z-index: 5;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  padding: 1rem 0.5rem 0 1rem;
}
.cardContainer a .cardImageText .city-short-description {
  font-size: 14px;
  background-color: #FFF;
  margin: 0;
  padding: 0.7rem 1rem 1rem 1rem;
  text-align: left;
  letter-spacing: 0.2px;
}

@media (min-width: 450px) and (max-width: 640px) {
  .cardContainer {
    justify-content: center !important;
  }
  .cardContainer a {
    width: 17rem !important;
  }
}
@media (min-width: 641px) and (max-width: 800px) {
  .home .masVisitadosGlobal {
    padding: 4rem 3rem 0 3rem;
  }
  .home .cardContainer {
    justify-content: center !important;
  }
  .home .cardContainer a {
    width: 17rem !important;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .home .masVisitadosGlobal {
    padding: 4rem 3rem 0 3rem !important;
  }
  .home .title {
    font-size: 3rem !important;
  }
  .home .cardContainer {
    justify-content: space-between !important;
  }
  .home .cardContainer a {
    width: 15rem !important;
  }
}
@media (min-width: 1201px) and (max-width: 1500px) {
  .home .masVisitadosGlobal {
    padding: 4rem 4rem 0 4rem !important;
  }
  .home .title {
    font-size: 3rem !important;
  }
  .home .cardContainer {
    justify-content: space-between !important;
  }
  .home .cardContainer a {
    width: 15rem !important;
  }
}
@media (min-width: 1501px) {
  .home .masVisitadosGlobal {
    padding: 4rem 16rem;
  }
  .home .title {
    font-size: 2rem !important;
  }
  .home .cardContainer {
    justify-content: space-between !important;
  }
  .home .cardContainer a {
    width: 19rem !important;
  }
}
.madrid-city {
  background: url("../../../img/Cities/madrid.jpg");
}

.barcelona-city {
  background: url("../../../img/Cities/barcelona.jpg");
}

.sansebastian-city {
  background: url("../../../img/Cities/peineViento.jpg");
}

.malaga-city {
  background: url("../../../img/Cities/malaga.png");
}

.sevilla-city {
  background: url("../../../img/Cities/sevilla.jpg");
}

.valencia-city {
  background: url("../../../img/Cities/valencia.jpg");
}

.santiagodecompostela-city {
  background: url("../../../img/Cities/catedralSantiagoCompostela.jpg");
}

.mallorca-city {
  background: url("../../../img/Cities/mallorca.jpg");
}

.alicante-city {
  background: url("../../../img/Cities/alicante.png");
}

.córdoba-city {
  background: url("../../../img/Cities/cordoba.png");
}

.granada-city {
  background: url("../../../img/Cities/granada.png");
}

.cadiz-city {
  background: url("../../../img/Cities/cadiz.png");
}

.bilbao-city {
  background: url("../../../img/Cities/bilbao.png");
}

.ibiza-city {
  background: url("../../../img/Cities/ibiza.png");
}

.tenerife-city {
  background: url("../../../img/Cities/tenerife.png");
}

.segovia-city {
  background: url("../../../img/Cities/segovia.png");
}

.city-image-main {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1);
  transition: 0.5s linear;
}

.cardImageText:hover {
  box-shadow: 1px 1px 1rem 0.1rem rgba(14, 7, 44, 0.655) !important;
}
.cardImageText:hover > .city-image-main {
  transform: scale(1.07);
  transition: 0.6s linear;
}