.header {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  width: 100%;
  z-index: 10;
  overflow-x: hidden;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  position: fixed;
  top: 0;
  background-color: #1A202C;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.485);
}
.header .home {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  box-sizing: border-box;
  padding: 5px;
}
.header .home img {
  margin: auto;
  height: 100%;
  display: none;
}
.header .headerMenuList {
  margin: 0 auto;
  padding: 0;
  display: flex;
  box-sizing: border-box;
}
.header .headerMenuList .headerLink {
  margin: 0 auto;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .headerMenuList .headerLink .headerMenu {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  list-style: none;
  font-weight: 500;
  width: 100%;
  line-height: 3.5rem;
  height: inherit;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.header .headerMenuList .headerLink .headerMenu .fa-solid {
  padding-left: 0.5rem;
}
.header .headerMenuList .headerLink .headerMenu .fa-chevron-up {
  display: none;
}
.header .headerMenuList .headerLink .headerMenu:hover > .headerMenuListDisplay {
  display: flex;
}
.header .headerMenuList .headerLink .headerMenu:hover > .fa-chevron-down {
  display: none;
}
.header .headerMenuList .headerLink .headerMenu:hover > .fa-chevron-up {
  display: block;
}
.header .headerMenuList .headerLink .headerMenu .headerMenuListDisplay {
  display: none;
  position: fixed;
  top: 3.5rem;
  left: 0;
  background-color: rgba(255, 255, 255, 0.932);
  z-index: 10;
  width: 100vw;
  height: 20rem;
  color: #000;
  padding: 0;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}
.header .headerMenuList .headerLink .headerMenu .headerMenuListDisplay a {
  color: #000;
  text-decoration: none;
}
.header .headerMenuList .headerLink .headerMenu .headerMenuListDisplay a:hover {
  background-color: #343f57;
  color: #FFF;
}
.header .headerMenuList .headerLink .headerMenu .headerMenuListDisplay a .headerDestinos {
  display: contents;
}
.header .headerMenuList .headerLink .headerMenu:hover {
  box-sizing: border-box;
  color: #FFF;
  background-color: #343f57;
}
.header .headerButtonContainer {
  display: flex;
  position: relative;
  width: 10rem;
}
.header .headerButtonContainer .menuButton {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  box-sizing: border-box;
  padding: 0.7rem;
  position: absolute;
  height: 3.5rem;
  right: 0;
}
.header .headerButtonContainer .menuButton svg {
  display: block;
}
.header .headerButtonContainer .menuButton button {
  background-color: white;
  border: none;
  font-size: 25px;
}
.header .headerButtonContainer .searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 0.7rem;
  box-sizing: border-box;
  position: absolute;
  right: 4rem;
  height: 3.5rem;
}
.header .headerButtonContainer .searchButton div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .headerButtonContainer .searchButton div button {
  background-color: #1A202C;
  border: none;
  font-size: 25px;
}
.header .headerButtonContainer .searchButton div button svg {
  display: block;
}

.searchBar {
  display: flex;
  box-sizing: border-box;
  margin: auto;
  width: 10%;
}

.searchBar button {
  background-color: transparent;
  border: none;
  font-weight: 700;
}

.searchBar input {
  border: none;
  border-bottom: 1px solid black;
  display: none;
}

@media (max-width: 800px) {
  .headerMenuList {
    display: none !important;
  }
  .menuButton {
    display: flex !important;
  }
}
@media (min-width: 1025px) {
  .burger {
    margin-right: 5%;
  }
}
.magnglass {
  background-color: #1A202C;
  color: #FFF;
}

.chev-down, .chev-up {
  margin-left: 0.5rem;
}