.footer{
    background-color: rgb(49, 108, 137);
    display: flex;
}

.logos{
    display: flex;
    line-height: 5vh;
    margin: auto 2vw auto auto;
}

.socialNetworkLogo{
    padding: 7px;
    border-radius: 50%;
    background-color: white;
    width: 8%;
    height: 16%;
    margin: 2vh 2vw 2vh 0;
    color: rgb(49, 108, 137);
}

.socialNetworkLogo svg{
    display: block;
    margin: auto;
}

.infoFooter ul li{
    list-style-type: none;
    font-weight: 500;
    color: white;
}