.excursions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1vh auto 6vh auto;
}

.titleExcursions{
    text-align: center;
    color: rgb(173,21,25);
    margin: 2vh 0 0 0;
}

.excursions a{
    width: 38%;
    margin: 3vh 5vw;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: rgb(250, 189, 0);
    background-color: rgb(173,21,25);
    border: black solid 1px;

}

.excursions a:hover{
    color: rgb(173,21,25);
    background-color: rgb(250, 189, 0);
}

.excursions p{
    line-height: 1.2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.excursion img{
    width: 100%;
    height: 10vh;
}

@media(min-width: 361px) and (max-width: 768px){
    .excursion img{
        width: 100%;
        height: 22vh;
    }
}

@media(min-width: 769px){
    .excursion img{
        width: 100%;
        height: 26vh;
    }
    .excursions a{
        width: 22%;
        margin: 3vh 5vw;
    }
}