.cities-general-container {
  padding: 4rem 0 0 0;
}
.cities-general-container .citiesMainContainer {
  padding: 4rem 16rem;
}
.cities-general-container .citiesMainContainer .title {
  padding-top: 1rem;
  font-family: "Montserrat", serif;
}
.cities-general-container .citiesMainContainer .cardContainer {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cities-general-container .citiesMainContainer .cardContainer a {
  display: block;
  width: 20rem;
}