.breadcrumbs-like-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 16rem;
}
.breadcrumbs-like-container .breadcrumbs-container {
  display: flex;
}
.breadcrumbs-like-container .breadcrumbs-container .breadcrumbs-item {
  font-size: 0.85rem;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.breadcrumbs-like-container .breadcrumbs-container .breadcrumbs-item span {
  margin-bottom: 3px;
}
.breadcrumbs-like-container .breadcrumbs-container .breadcrumb-chevron {
  margin: 0 0.35rem;
  height: 0.75rem;
}

.home .breadcrumbs-like-container .breadcrumbs-container {
  display: none;
}

.cities .breadcrumbs-like-container .breadcrumb-chevron, .cities .breadcrumbs-like-container .breadcrumbs-item {
  display: none;
}
.cities .breadcrumbs-like-container .breadcrumb-home, .cities .breadcrumbs-like-container .breadcrumb-home-chevron, .cities .breadcrumbs-like-container .breadcrumb-cities, .cities .breadcrumbs-like-container .breadcrumb-cities-chevron, .cities .breadcrumbs-like-container .breadcrumb-city-name {
  display: flex;
}

.city .breadcrumbs-like-container .breadcrumb-chevron, .city .breadcrumbs-like-container .breadcrumbs-item {
  display: none;
}
.city .breadcrumbs-like-container .breadcrumb-home, .city .breadcrumbs-like-container .breadcrumb-home-chevron, .city .breadcrumbs-like-container .breadcrumb-cities, .city .breadcrumbs-like-container .breadcrumb-city-name, .city .breadcrumbs-like-container .breadcrumb-cities-chevron {
  display: flex;
}

.accommodation .breadcrumbs-like-container .breadcrumb-chevron, .accommodation .breadcrumbs-like-container .breadcrumbs-item {
  display: none;
}
.accommodation .breadcrumbs-like-container .breadcrumb-home, .accommodation .breadcrumbs-like-container .breadcrumb-home-chevron, .accommodation .breadcrumbs-like-container .breadcrumb-cities, .accommodation .breadcrumbs-like-container .breadcrumb-city-name, .accommodation .breadcrumbs-like-container .breadcrumb-city-name-chevron, .accommodation .breadcrumbs-like-container .breadcrumb-cities-chevron, .accommodation .breadcrumbs-like-container .breadcrumb-accommodation {
  display: flex;
}