.breadcrumbs-container{
    padding: 1rem 0;
    display: flex;
    .breadcrumbs-item{
        font-size: 0.85rem;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        span{
            margin-bottom: 3px;
        }
    }
    .breadcrumb-chevron{
        margin: 0 0.35rem;
        height: 0.75rem;
    }
}

.home{
    .breadcrumb-chevron, .breadcrumbs-item{
        display: none;
    }
}

.cities{
    .breadcrumb-chevron, .breadcrumbs-item{
        display: none;
    }
    .breadcrumb-home, .breadcrumb-home-chevron, .breadcrumb-cities{
        display: flex;
    }
}


.Madrid{
    .breadcrumbs-container{
        padding: 1rem 6rem;
    }
    .breadcrumb-chevron, .breadcrumbs-item{
        display: none;
    }
    .breadcrumb-home, .breadcrumb-home-chevron, .breadcrumb-cities, .breadcrumb-city-name, .breadcrumb-cities-chevron{
        display: flex;
    }
}

.accommodation{
    .breadcrumb-chevron, .breadcrumbs-item{
        display: none;
    }
    .breadcrumb-home, .breadcrumb-home-chevron, .breadcrumb-cities, .breadcrumb-city-name, .breadcrumb-city-name-chevron, .breadcrumb-cities-chevron, .breadcrumb-accommodation{
        display: flex;
    }
}