.breadcrumbs-container {
  padding: 1rem 6rem;
  display: flex;
}
.breadcrumbs-container .breadcrumbs-item {
  font-size: 0.85rem;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.breadcrumbs-container .breadcrumbs-item span {
  margin-bottom: 3px;
}
.breadcrumbs-container .breadcrumb-chevron {
  margin: 0 0.35rem;
  height: 0.75rem;
}

.home .breadcrumbs-container {
  display: none;
}

.cities .breadcrumb-chevron, .cities .breadcrumbs-item {
  display: none;
}
.cities .breadcrumb-home, .cities .breadcrumb-home-chevron, .cities .breadcrumb-cities, .cities .breadcrumb-cities-chevron, .cities .breadcrumb-city-name {
  display: flex;
}

.city .breadcrumbs-container {
  padding: 1rem 6rem;
}
.city .breadcrumb-chevron, .city .breadcrumbs-item {
  display: none;
}
.city .breadcrumb-home, .city .breadcrumb-home-chevron, .city .breadcrumb-cities, .city .breadcrumb-city-name, .city .breadcrumb-cities-chevron {
  display: flex;
}

.accommodation .breadcrumb-chevron, .accommodation .breadcrumbs-item {
  display: none;
}
.accommodation .breadcrumb-home, .accommodation .breadcrumb-home-chevron, .accommodation .breadcrumb-cities, .accommodation .breadcrumb-city-name, .accommodation .breadcrumb-city-name-chevron, .accommodation .breadcrumb-cities-chevron, .accommodation .breadcrumb-accommodation {
  display: flex;
}