.destinosGlobal{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 6vh;
}

.destinosGlobal a{
    text-decoration: none;
    width: 40%;
    margin: 2vh 3vw;
}

.destinos{
    text-align: center;
    color: black;
    height: 25rem;
}

.imgDestinos{
    height: 22rem;
}

.imgDiv{
    overflow: hidden;
    height: 22rem;
}

.destinos:hover > div img{
    overflow: hidden;
    transform: scale(1.05);
}

.destinos p{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
    overflow: hidden;
}

p.santiago{
    line-height: 1.5rem;
}

.masVisitados{
    margin: 6vh 0 0 0;
    color: rgb(173,21,25);
    text-align: center;
    font-size: 2rem;
}

.subtitle1{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1vh;
}

@media(min-width: 361px) and (max-width: 768px){
    .destinosGlobal a{
        width: 25%;
    }
}

@media(min-width: 769px){
    .masVisitados{
        font-size: 3rem;
    }
    .subtitle1{
        font-size: 1.8rem;
    }
    .destinosGlobal a{
        width: 18%;
    }
    .imgDestinos{
        overflow: hidden;
        transition: transform 1s ease-in-out;
    }
    .destinos p{
        line-height: 3rem;
    }
}



.madrid-city{
    background: url("../../img/Cities/madrid1.jpg");
}

.barcelona-city{
    background: url("../../img/Cities/barcelona.jpg")
}

.sansebastian-city{
    background: url("../../img/Cities/peineViento.jpg")
}

.malaga-city{
    background: url("../../img/Cities/malaga.jpg");
}

.sevilla-city{
    background: url("../../img/Cities/sevilla.jpg")
}

.valencia-city{
    background: url("../../img/Cities/valencia.jpg")
}

.santiago-city{
    background: url("../../img/Cities/catedralSantiagoCompostela.jpg")
}

.mallorca-city{
    background: url("../../img/Cities/mallorca.jpg")
}
.city-image-main{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.city-image-main:hover{
    transform: scale(1.05);
    transition: 1s;
}